# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [9]:
import pandas as pd
import numpy as np

# Seu código aqui
lista_ano = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
lista_anomalia = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
ano = pd.Series(lista_ano)
anomalia = pd.Series(lista_anomalia)
anomalia

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [8]:

# seu código aqui
Serie_com_index= pd.Series(lista_anomalia, lista_ano)
Serie_com_index

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [12]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
dic_serie = pd.Series(dic_temperaturas)
dic_serie

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [14]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr)
df

             0           1           2
0    95.775491  100.306276   85.480194
1    99.226429  100.509649  102.767336
2    98.895500   98.559992  112.226081
3    91.975187  100.747117  101.621031
4    91.763642  109.011094   97.926300
5    94.806168   98.428959  117.865136
6    94.787602  115.188741  105.829256
7   109.921328  114.820229   95.868672
8    81.168013  102.046898  102.489481
9    90.343639   92.497262   99.059967
10  117.095552  110.869660  107.314222
11  113.028798  106.508139   96.979916
12   97.558480  107.240555  125.053732
13   96.707430   94.543086   88.130847
14   99.396372  115.057470   92.345065
15   92.670415   88.446685  102.554511
16  102.161473   83.460310   99.876111
17  109.030895  105.772516   94.563162
18   89.179341  107.010571   96.380719
19  116.436773  104.663779  100.912003

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [21]:
#seu código aqui
df = df.set_index(np.arange(1,21))
df = df.rename(columns={0: 'x1', 1: 'x2', 2: 'x3'})
df

            x1          x2          x3
1    95.775491  100.306276   85.480194
2    99.226429  100.509649  102.767336
3    98.895500   98.559992  112.226081
4    91.975187  100.747117  101.621031
5    91.763642  109.011094   97.926300
6    94.806168   98.428959  117.865136
7    94.787602  115.188741  105.829256
8   109.921328  114.820229   95.868672
9    81.168013  102.046898  102.489481
10   90.343639   92.497262   99.059967
11  117.095552  110.869660  107.314222
12  113.028798  106.508139   96.979916
13   97.558480  107.240555  125.053732
14   96.707430   94.543086   88.130847
15   99.396372  115.057470   92.345065
16   92.670415   88.446685  102.554511
17  102.161473   83.460310   99.876111
18  109.030895  105.772516   94.563162
19   89.179341  107.010571   96.380719
20  116.436773  104.663779  100.912003

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [24]:
# seu código aqui
df['media'] = df.mean(axis=1)
df

            x1          x2          x3       media
1    95.775491  100.306276   85.480194   93.853987
2    99.226429  100.509649  102.767336  100.834472
3    98.895500   98.559992  112.226081  103.227191
4    91.975187  100.747117  101.621031   98.114445
5    91.763642  109.011094   97.926300   99.567012
6    94.806168   98.428959  117.865136  103.700088
7    94.787602  115.188741  105.829256  105.268533
8   109.921328  114.820229   95.868672  106.870077
9    81.168013  102.046898  102.489481   95.234797
10   90.343639   92.497262   99.059967   93.966956
11  117.095552  110.869660  107.314222  111.759812
12  113.028798  106.508139   96.979916  105.505618
13   97.558480  107.240555  125.053732  109.950922
14   96.707430   94.543086   88.130847   93.127121
15   99.396372  115.057470   92.345065  102.266302
16   92.670415   88.446685  102.554511   94.557204
17  102.161473   83.460310   99.876111   95.165965
18  109.030895  105.772516   94.563162  103.122191
19   89.179341  107.010571   96.380719   97.523544
20  116.436773  104.663779  100.912003  107.337518

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [26]:
# seu código aqui
df['log_med'] = np.log(df['media'])
df

            x1          x2          x3       media   log_med
1    95.775491  100.306276   85.480194   93.853987  4.541740
2    99.226429  100.509649  102.767336  100.834472  4.613480
3    98.895500   98.559992  112.226081  103.227191  4.636932
4    91.975187  100.747117  101.621031   98.114445  4.586135
5    91.763642  109.011094   97.926300   99.567012  4.600831
6    94.806168   98.428959  117.865136  103.700088  4.641503
7    94.787602  115.188741  105.829256  105.268533  4.656515
8   109.921328  114.820229   95.868672  106.870077  4.671614
9    81.168013  102.046898  102.489481   95.234797  4.556345
10   90.343639   92.497262   99.059967   93.966956  4.542943
11  117.095552  110.869660  107.314222  111.759812  4.716352
12  113.028798  106.508139   96.979916  105.505618  4.658764
13   97.558480  107.240555  125.053732  109.950922  4.700034
14   96.707430   94.543086   88.130847   93.127121  4.533965
15   99.396372  115.057470   92.345065  102.266302  4.627580
16   92.670415   88.446685  102.554511   94.557204  4.549205
17  102.161473   83.460310   99.876111   95.165965  4.555622
18  109.030895  105.772516   94.563162  103.122191  4.635915
19   89.179341  107.010571   96.380719   97.523544  4.580094
20  116.436773  104.663779  100.912003  107.337518  4.675978